<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.OrangeHrm.utilities.Reporting"/>
	</listeners>
  <test  name="OrangeHrmProject">
  	<parameter name="browser" value="chrome"/>
  	<classes>
  		<class name="com.OrangeHrm.testCases.TC_TestCaseLogin_001"/>
  	</classes>
  </test> <!-- Test -->
  <test  name="OrangeHrmProject1">
  	<parameter name="browser" value="chrome"/>
  	<classes>
  		<class name="com.OrangeHrm.testCases.TC_TestCaseLogin_002"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
